version: 2.1
orbs:
  gcp-gcr: circleci/gcp-gcr@0.13.0
  gcp-cli: circleci/gcp-cli@2.1.0
  pulumi: pulumi/pulumi@2.0.0
jobs:
  build:
    docker:
      - image: circleci/golang:1.16
      - image: mysql:5.7
        environment:
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: 12345
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "go.sum" }}
      - run:
          name: Install dependencies
          command: go install .
          environment:
            PROJECT_ROOT: $CIRCLE_PROJECT_REPONAME
      - run:
          name: Build
          command: go build -a -installsuffix cgo -o main
          environment:
            PROJECT_ROOT: $CIRCLE_PROJECT_REPONAME
            CGO_ENABLED: 0
            GOOS: linux
      - save_cache:
          key: dependency-cache-{{ checksum "go.sum" }}
          paths:
            - /go/pkg/mod
      - run:
          name: Wait for MySQL
          command: |
            for i in `seq 1 10`;
            do
            nc -z localhost 3306 && echo Success && exit 0
            echo -n .
            sleep 1
            done
            echo Failed waiting for Postgress && exit 1
      - run:
          name: Create service account
          command: echo $GCLOUD_SERVICE_KEY > key.json
      - run:
          name: Test
          command: go test
          environment:
            PROJECT_ROOT: $CIRCLE_PROJECT_REPONAME
            GCLOUD_PROJECT: daily-ops
            GOOGLE_APPLICATION_CREDENTIALS: ./key.json
            DB_CONNECTION_STRING: root:12345@(localhost:3306)/test
            CAMPAIGNS_COUNT: 1
      - persist_to_workspace:
          root: .
          paths:
            - main
  build_and_push_docker:
    machine: true
    steps:
      - checkout
      - attach_workspace:
          at: .
      - gcp-gcr/build-image:
          image: $CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1
      - gcp-gcr/gcr-auth
      - gcp-gcr/push-image:
          image: $CIRCLE_PROJECT_REPONAME
          tag: $CIRCLE_SHA1
  pulumi_preview:
    docker:
      - image: circleci/node:12.19
    steps:
      - checkout
      - pulumi/login
      - run:
          name: Install dependencies
          command: npm i
          working_directory: infra
      - run:
          name: Pulumi preview
          command: pulumi preview --suppress-outputs --stack prod -c tag=$CIRCLE_SHA1
          working_directory: infra
  pulumi_up:
    docker:
      - image: circleci/node:12.19
    steps:
      - checkout
      - gcp-cli/install
      - gcp-cli/initialize
      - run:
      name: Get cluster credentials
      command: gcloud container clusters get-credentials prod
      - pulumi/login
      - run:
          name: Install dependencies
          command: npm i
          working_directory: infra
      - run:
          name: Pulumi refresh
          command: pulumi refresh -y --suppress-outputs --stack prod
          working_directory: infra
      - run:
          name: Pulumi up
          command: pulumi up -y --suppress-outputs --stack prod -c tag=$CIRCLE_SHA1
          working_directory: infra
workflows:
  build:
    jobs:
      - build
      - build_and_push_docker:
          requires:
            - build
          context: GCR
      - pulumi_preview:
          context: PROD
          filters:
            branches:
              ignore:
                - /pull\/[0-9]+/
                - master
      - pulumi_up:
          requires:
            - build_and_push_docker
          context: PROD
          filters:
            branches:
              only:
                - master
      - gcp-gcr/add-image-tag:
          requires:
            - build_and_push_docker
          context: GCR
          image: $CIRCLE_PROJECT_REPONAME
          source-tag: $CIRCLE_SHA1
          target-tag: latest
          filters:
            branches:
              only:
                - master
